<h1>Edit Picture</h1>

<p>
	<%= link_to "Back", @picture %>
</p>

<%= form_for @picture do |p| %>
	<p>
		<%= p.label :artist %><br>
		<%= p.text_field :artist %>
	</p>
	<p>
		<%= p.label :title %><br>
		<%= p.text_field :title %>
	</p>
	<p>
		<%= p.label :url %><br>
		<%= p.text_field :url %>
	</p>
	<p>
		<%= submit_tag "Save" %>
	</p>
<% end %>