<!DOCTYPE>
<html>
	<head>
		<title>Photogur Clone</title><br>
    <link rel="stylesheet" href="./custom.css" />
    <link href='http://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>

<h1>Twizzy</h1><br>￼￼
	</head>
	<nav id="navbar">
<%= link_to "Upload a new photo", "/pictures/new" %>
</nav>

	<body>



<class="Photos">
<% @pictures.each do |picture| %>
<div id:"pictures">
	<p id="info"><%= picture[:title] %>, <%= picture[:artist] %></p><br>
	<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
	<!-- <img src="<%= picture[:url] %>"/> -->
</div>
<% end %>

</body>

</html>