<h1>Add a picture</h1>
<%= link_to "Back to Pictures", pictures_url %>
<!-- form action="/pictures" method="POST"> -->
 <%= form_for @picture do |p| %>
	<fieldset>
		<%= p.label :artist %><br>
		<%= p.text_field :artist %>
	</fieldset>
	<fieldset>
		<%= p.label :title %><br>
		<%= p.text_field :title %>
	</fieldset>
	<fieldset>
		<%= p.label :url %><br>
		<%= p.text_field :url %>
	</fieldset>
	<fieldset id="save">
		<%= p.submit "Save" %> 
	</fieldset>
<% end %>